<DOCTYPE html>
<html>

<head> 
<style> body { background-color: #FFC300; }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */=
li a:hover {
    background-color: #111;
} 
</style>





</head>
<body>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="#programs">Programs</a></li>
  <li><a href="#contact us">Contact us</a></li>
  <li style="float:right"><a class=" active" href="#about">About</a></li>
</ul>

 <style> body { background-color: #FFC300; } </style> 

<form action="http://www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">

<p>where would you like to have your summer camp experience?</p>
<select onchange="checkFunc(this)" name="area">


<option value ="none">none</option>

<option value ="USA midwest" >USA midwest</option>

<option value ="USA northeast">USA  northeast</option>

<option value ="USA south">USA south</option>

<option value ="USA west" id="USA west1">USA west</option>


</select> 

<p><input type="submit" value="Submit"></p>

</form>

<h3>Result:</h3>

<iframe name="result" style="height:20px;width:00px;"></iframe>

<div id= "USA midwest" style="display:none;">
	<h1> 
Address: Alma College: Alma, MI<br>
Global Challenge<br>
June 17-23<br><br><br>



Address: Illinois Institute of Technology: Chicago, IL<br>
Illinois Institute of Technology Summer Programs<br>
varies<br><br><br>
 
Address: Michigan State University: East Lansing, MI<br>
American Semester Program<br>
July 9-27<br><br><br>

 
Address: Michigan Technological University: Houghton, MI<br>
Summer Youth Programs<br>
June 17-August 4<br><br><br>

 
Address: School of the Art Institute of Chicago: Chicago, IL<br>
Early College Program Summer Institute<br>
Session 1: Two weeks June 18-29 <br>
Session 2: Two weeks July 2-13 <br>
Session 3: Two weeks July 16-27 <br>
Session 4: Four weeks July 2-27<br><br><br>

 
Address: University of Chicago: Chicago, IL<br>
College Pathway Programs<br>
June 17-July 5 and July 8-26<br><br><br>


Address: University of Missouri: Columbia, MO<br>
Career Exploration Summer Program<br>
July 12-27<br><br><br>

Address: University of Notre Dame: Notre Dame, IN<br>
Pre-College Summer Programs<br>
Summer Scholars: June 23-July 7<br><br><br>

 
Address: University of Wisconsin-La Crosse: La Crosse, WI<br>
Middle School U.S. Culture and English Academy<br>
July 22-August 5<br><br><br>


Address: University of Wisconsin-La Crosse: La Crosse, WI<br>
High School & University U.S. Culture and English Academy<br>
July 22-August 12<br><br><br>

 

Address: Valparaiso University: Valparaiso, IN<br>
Summer Global Leadership Institute<br>
(Tentative) July 5-20<br><br><br>

 
Address: Washington University in St. Louis: St. Louis, MO<br>
Summer Experiences at Washington University in St. Louis<br>
June 10-August 17 (program length varies)</h1>
	
</div>




<div id= "USA northeast" style="display:none;">
	<h1>
Address: Barnard College: New York, NY<br>
Summer in the City<b<br>r>
June 26-July 22<br><br><br>


Address: Centenary University: Hackettstown, NJ<br>
Summer Culture and Language Program<br>
July 7-August 17<br><br><br>

Address: Columbia University: New York, NY<br>
Columbia University Programs for High School Students<br>
All Year<br><br><br>

 
Address: Drexel University: Philadelphia, PA<br>
Summer Institutes<br>
Varies<br><br><br>

 
Address: Fordham University: New York, NY<br>
Fordham University Academic Preparatory Institute<br>
June 4-16<br><br><br>



Address: La Roche College: Pittsburgh, PA<br>
ESL for Medical Purposes Summer Institute<br>
July 20 - August 5 Approx.<br><br><br>


Address: Lehigh University: Bethlehem, PA<br>
Iacocca Global Entrepreneurship Intensive for high school students<br>
July 1-28<br><br><br>


Address: Marist College: Poughkeepsie, NY & Florence, Italy<br>
Marist Summer Pre-College<br>
Session I (NY): July 1-14<br>
Session II (NY/Italy): July 15-28<br><br><br>


Address: Millersville University: Millersville, PA<br>
English Language Institute at Millersville University<br>
June 4-23 or June 25-July 14<br><br><br>

 
Address: New York Institute of Technology: New York, NY<br>
NYIT Academy<br>
July 9-August 3<br><br><br>

 
Address: Rochester Institute of Technology: Rochester, NY<br>
College & Careers (Career Exploration Conference)<br>
July 20-21 or August 3-4<br><br><br>

Address: Salem State University: Salem, MA<br>
Summer English Language and Culture Program: July 9-August 17 OR May 21-June 29<br>
Summer Intensive English Language Program: July 9-August 17 OR May 21-June 29<br><br><br>

 
Address: Sarah Lawrence College: Bronxville, NY<br>
Sarah Lawrence College Pre-College Summer Programs<br>
July 1-August 3<br><br><br>
 
Address: Stevens Institute of Technology: Hoboken, NJ<br>
Stevens Pre-College Programs<br>
June–August<br><br><br>

 
Address: Stony Brook University, SUNY: Stony Brook, NY<br>
Summer in the U.S.A.<br>
July 15-28<br><br><br>

 
Address: Syracuse University: Syracuse, NY<br>
Summer College for High School Students<br>
July 2-August 10<br><br><br>

 
TCNJ The College of New Jersey: Ewing Township, NJ<br>
TCNJ's College Prep Academy<br>
July 1-21<br><br><br>

 
Address: Union College: Schenectady, NY<br>
Union College Summer STEM Program<br>
July 8-August 3<br><br><br>

 
Address: University of Rochester: Rochester, NY<br>
Pre-College Programs<br>
July 1-August 11<br><br><br>


Address: Worcester Polytechnic Institute: Worcester, MA<br>
Frontiers Program<br>
Session I: July 8-20<br>
Session II: July 22-August 3<br><br><br>

 
Address: Yale University: New Haven, CT<br>
Yale Young African Scholars (YYAS) Program<br>
Two sessions between July 25 -August 25<br><br><br>

 
Address: Yale University: New Haven, CT<br>
Yale Young Global Scholars Program<br>
Six sessions between June 17-August 9
</h1>
</div>


<div id= "USA south" style="display:none;">
	<h1> 
Address: American University: Washington, D.C.<br>
College Programs for High School Students<b<br>r>
Community of Scholars at AU’s School of International Service: July 9-27<br><br><br>

 
Address: American University: Washington, D.C.<br>
College Programs for High School Students<br><br><br>

 
Address: College of Charleston: Charleston, SC<br>
Senior Project<br>
July 15-20<br><br><br>

 
Address: Florida Institute of Technology: Melbourne, FL<br>
Camp Florida Tech<br><br><br>


 
Address: Maryville College: Maryville, TN<br>
Maryville College Intensive English Program<br>
Summer 1: May 21-June 29<br>
Summer 2: July 2 - August 10<br><br><br>

 
Address: McNeese State University: Lake Charles, LA<br>
McNeese Summer Camps in Engineering and Biochemistry<br>
July 16-August 3<br><br><br>


 

Address: Sewanee: The University of the South: Sewanee, T<br>
Sewanee in the Summer<br>
June-July<br><br><br>

 

Address: University of Mississippi: Oxford, MS<br>
Summer College for High School Students<br>
May 28-June 26, June 26-July 27<br><br><br>


Address: University of Tulsa: Tulsa, OK<br>
Filmmaking and Scriptwriting Camp<br>
July 8-July 21<br><br><br>

 

 

Address: University of Texas at Austin: Austin, TX<br>
International Academy<br>
July 14-August 11
</h1>
</div>


<div id= "USA west" style="display:none;">
	<h1> 
Address: Chapman University: Orange, CA<br>
High School Workshop in Experimental Economics<br>
June 25-29<br><br><br>

Address: Chapman University: Orange, CA<br>
Summer Film Academy<br>
June 15-29 and July 1-14<br><br><br>


 
Address: Loyola Marymount University: Los Angeles, CA<br>
Pre-College Summer Programs<br>
Varied dates during June & July<br><br><br>



Address: UC Berkeley Extension: Berkeley, CA<br>
College Foundations Program (CFP)<br>
June 18-August 10 (8-week); <br><br><br> 


Address: University of Colorado Boulder: Boulder, CO<br>
EducationUSA Academy<br>
July 2-28, 2018<br><br><br>
 
Address: University of Colorado Boulder: Boulder, CO <br>
Science Discovery<br>
Dates vary
</h1>
</div>









<script type="text/javascript">

	function checkFunc(event) {
		document.getElementById(event.value).style.display = 'block';
	}
	// document.getElementsByClassName("example
	var appBanners = document.getElementsByClassName('USA west'), i;

	for (var i = 0; i < appBanners.length; i ++) {
	    // appBanners[i].style.display = 'none'; //hides
	    appBanners[i].style.display = 'block'; //shows
	}
</script>

</body>

</html>
